flask==3.0.3
flask-cors==4.0.1
flask-sqlalchemy==3.1.1
python-dotenv==1.0.1
PyJWT==2.9.0

langchain==0.2.16
langchain-google-genai==1.0.10
langchain-core==0.2.38
langchain-community==0.2.16

networkx==3.3
sqlalchemy==2.0.35

gunicorn==21.0.0
langchain-groq==0.1.9

PyJWT[crypto]
requests